body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0 auto;
    padding: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body.dark {
    color: rgb(190, 190, 190);
    background-color: #333;
}

.dark_button {
    position: fixed;
    top: 16px;
    right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border-style: none;
    padding: 0;
    background-color: transparent;
    opacity: 0.5;
    cursor: pointer;
    z-index: 2;
}

.dark_button:hover {
    opacity: 1;
}

.dark_button img {
    width: 36px;
    height: 36px;
}

h1,
h2 {
    color: #193096;
}
.dark h1,
.dark h2 {
    color: #ffffff;
}
.section {
    margin-bottom: 30px;
}
.skills-list {
    list-style: none;
    padding: 0;
}
.skills-list li {
    margin-bottom: 10px;
}

header {
    height: 132px;
    width: 100%; 
    padding-top: 4px;
    background: linear-gradient(to right, #4c53af, #ebe5df,  #e7e1d8);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.dark header {
    background: linear-gradient(to left, #4b0082, #000000);
}

header .name_and_categories {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.name_and_categories h1, .name_and_categories p {
    text-align: start;
    margin: 0px;
    margin-left: 252px;
}
.name_and_categories p {
    color: white;
}

header .profile_photo {
    position: fixed;
    top: 20px;
    left: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-radius: 50%;
    overflow: hidden;
    background-color: #333;
    z-index: 2;
}

.profile_photo img {
    overflow: hidden;
    height: 200px;
}

.categories {
    width: 100%;
    display: flex;
    justify-content: end;
}

.categories .categories_item {
    width: calc(50% - (200px / 2));
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #4c53af;
    color: #fff;
    cursor: pointer;
    transition:
        background-color 0.3s,
        color 0.3s,
        transform 0.3s;
}

.categories_item:hover {
    background-color: #444a99;
    color: #fff;
}

.categories_item:active {
    transform: scale(0.99);
}

.categories_item.active {
    background-color: #222880;
}
