:root {
  --header-height: 150px;
  --categories-item-height: 150px;
  --sidebar-width: 230px;
  --sidebar-width-open: 230px;
  --sidebar-width-close: calc(var(--icon-size) + (var(--sidebar-padding-x) * 2));
  --profile-photo-height: 200px;
  --sidebar-padding-x: 16px;
  --icon-size: 24px;
  --categories-height: 56px;
  --profile-photo-top: calc(
    (var(--header-height) - (var(--categories-height) / 2)) - (var(--profile-photo-height) / 2)
  );
  --profile-photo-left: calc((var(--sidebar-width) / 2) - (var(--profile-photo-height) / 2));
  --sidebar-top: var(--header-height);
  --menu-btn-container-size: 40px;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #333;
  margin: 0 auto;
  padding: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: rgb(235, 235, 235);
}

body.dark {
  color: rgb(190, 190, 190);
  background-color: #333;
}

.dark_button {
  position: fixed;
  top: 16px;
  right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border-style: none;
  padding: 0;
  background-color: transparent;
  opacity: 0.5;
  cursor: pointer;
  z-index: 11;
}

.dark_button:hover {
  opacity: 1;
}

.dark_button img {
  width: 36px;
  height: 36px;
}

h1,
h2 {
  color: #193096;
}
.dark h1,
.dark h2 {
  color: #ffffff;
}
.section {
  margin-bottom: 30px;
}
.skills-list {
  list-style: none;
  padding: 0;
}
.skills-list li {
  margin-bottom: 10px;
}

header {
  height: var(--header-height);
  width: 100%;
  padding-top: 4px;
  background: linear-gradient(to right, #4c53af, #faf7f3, #f5f3ef);
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: end;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 10;
}

.dark header {
  background: linear-gradient(to left, #4b0082, #000000);
}

header .name_and_categories {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container_flotante {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 4px;
}

.flotante {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.432);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.dark .flotante {
  background-color: #4c00826b;
  box-shadow: 0 1px 4px rgba(255, 255, 255, 0.938);
}

.name_and_categories h1,
.name_and_categories p {
  text-align: start;
  margin: 0px;
}

header .profile_photo {
  position: absolute;
  top: var(--profile-photo-top);
  left: var(--profile-photo-left);
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 50%;
  overflow: hidden;
  background-color: #051c68;
  z-index: 1;
  transition: all 0.4s;
}

.dark .profile_photo {
  border-color: #f2f6fd;
  background-color: #3c064d;
}

.profile_photo img {
  overflow: hidden;
  height: var(--profile-photo-height);
  opacity: 0;
  transition: opacity 0.2s;
}

.profile_photo img.visible {
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.categories {
  /* width: 100%; */
  display: flex;
  justify-content: end;
  height: var(--categories-height);
  padding-left: calc( ( var(--profile-photo-left) / 2 ) + (var(--profile-photo-height) / 2));
}

.categories .categories_item {
  width: 50%;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #4c53af;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    background-color 0.3s,
    color 0.3s,
    transform 0.3s;
}
.categories_item:hover {
  background-color: #444a99;
  color: #fff;
}

.categories_item.active {
  background-color: #222880;
  border-bottom-style: solid;
  border-color: rgb(255, 255, 255);
  border-width: 1px;
}

.dark .categories_item {
  background-color: #680475;
}

.dark .categories_item:hover {
  background-color: #5b0466;
}

.dark .categories_item.active {
  background-color: #410449;
}

.categories_item:active {
  transform: scale(0.99);
}

.sidebar {
  height: 100%;
  width: var(--sidebar-width);
  position: fixed;
  top: var(--sidebar-top);
  left: 0;
  padding-top: calc((var(--profile-photo-height) - (var(--categories-height) / 2)) / 2);
  background-color: #02082e;
  transition: all 0.2s;
}

.dark .sidebar {
  background-color: #18011f;
}

.dark .menu_btn_container {
  background-color: #3c064d;
}

.menu_btn_container {
  width: var(--menu-btn-container-size);
  height: var(--menu-btn-container-size);
  background-color: #051c68;
  color: white;
  z-index: 10;
  cursor: pointer;
  position: fixed;
  top: 50%;
  left: calc(var(--sidebar-width) - var(--menu-btn-container-size) / 2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  opacity: 0.5;
}

.menu_btn_container:active {
  transform: scale(0.98);
}

.menu_btn_container:hover {
  opacity: 1;
}

.sidebar.close .side_item label {
  display: none;
}

.sidebar .side_item label {
  cursor: pointer;
}

.sidebar .side_item {
  cursor: pointer;
  padding: var(--sidebar-padding-x);
  font-size: 16px;
  color: gray;
  display: flex;
  align-items: center;
  border-bottom-style: solid;
  border-color: rgba(172, 172, 172, 0.616);
  border-width: 0.2px;
}

.sidebar .side_item.active {
  background-color: rgba(128, 128, 128, 0.164);
  color: white;
}

.category_icon {
  margin-right: 12px;
  width: 24px;
  height: 24px;
}

.side_icon {
  margin-right: 12px;
  width: 24px;
  height: 24px;
}

.sidebar .side_item:hover {
  background-color: rgba(128, 128, 128, 0.164);
  color: white;
}

.sidebar_content {
  display: flex;
  flex-direction: column;
  margin-left: var(--sidebar-width);
  padding-top: calc( var(--profile-photo-height) - var(--header-height) );
  padding-left: 32px;
  transition: all 0.5s;
}

.tooltip {
  position: relative;
}

.tooltip::after {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
  content: attr(data-tooltip);
  position: absolute;
  background-color: #030000c5;
  color: #fff;
  padding: 8px;
  border-radius: 8px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s,
    visibility 0.3s;
  bottom: 90%;
  left: 80%;
}

.tooltip:hover::after {
  opacity: 1;
  visibility: visible;
}

.sidebar .tooltip:hover::after {
  visibility: hidden;
}
.sidebar.close .tooltip:hover::after {
  visibility: visible;
}

.networks_social_container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_social_network {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color:#1a087e;
  margin-right: 12px;
  margin-left: 12px;

}

.dark .button_social_network {
  color:#ffffff;
}

.contacto {
  display: flex;
  padding: 32px;
  justify-content: space-between;
  align-items: center;
}


form {
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 32px;
}

form label {
  margin-bottom: 8px;
}

form input, form textarea {
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 16px;
}

form input:focus, form textarea:focus {
  box-shadow: rgba(5, 27, 223, 0.4) 0px 0px 0px 1px, rgba(25, 5, 206, 0.65) 0px 2px 2px -1px, rgba(14, 56, 192, 0.08) 0px 1px 0px inset;
}
.dark form input:focus, .dark form textarea:focus {
  box-shadow: rgba(179, 5, 223, 0.4) 0px 0px 0px 2px, rgba(173, 5, 206, 0.65) 0px 2px 2px -1px, rgba(142, 14, 192, 0.08) 0px 1px 0px inset;
}

form button {
  margin: 0 auto;
  background-color: #35079e;
  color: white;
  width: 100%;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.dark form button {
  background-color: #67087a;
}
.dark form button:hover {
  background-color: #520a61;
}

form button:hover {
  background-color: rgb(7, 48, 94);
}

@keyframes slideAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar .side_item {
    font-size: 14px;
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.flash-effect {
  animation: flash 0.3s ease-in-out;
}
